@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  --background: #111122;
  --container: #222233;
  --foreground: #333344;
  --text-primary: #eeeeff;
  --text-secondary: #bbbbcc;
  --text-tertiary: #9999aa;
  --primary: #669966;
  --primary-light: #99dd99;
  --primary-dark: #225522;
  background-color: var(--background);
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

*::selection {
  background-color: var(--text-secondary);
  color: var(--background);
}
